In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv("/content/drive/MyDrive/raptor/used_cars_UK.csv")

In [ ]:
df.head()

,Unnamed: 0,title,Price,Mileage(miles),Registration_Year,Previous Owners,Fuel type,Body type,Engine,Gearbox,Doors,Seats,Emission Class,Service history
0,0,SKODA Fabia,6900,70189,2016,3.0,Diesel,Hatchback,1.4L,Manual,5.0,5.0,Euro 6,NaN
1,1,Vauxhall Corsa,1495,88585,2008,4.0,Petrol,Hatchback,1.2L,Manual,3.0,5.0,Euro 4,Full
2,2,Hyundai i30,949,137000,2011,NaN,Petrol,Hatchback,1.4L,Manual,5.0,5.0,Euro 5,NaN
3,3,MINI Hatch,2395,96731,2010,5.0,Petrol,Hatchback,1.4L,Manual,3.0,4.0,Euro 4,Full
4,4,Vauxhall Corsa,1000,85000,2013,NaN,Diesel,Hatchback,1.3L,Manual,5.0,5.0,Euro 5,NaN

In [ ]:
milegae_and_price=df[(df['Mileage(miles)']>50000) & (df['Price']>5000)]
print(milegae_and_price)

      Unnamed: 0                  title  Price  Mileage(miles)  \
0              0            SKODA Fabia   6900           70189
12            12            SKODA Fabia   6900           70189
13            14           BMW 3 Series  19800           69690
21            22     Mercedes-Benz A180  14498           53055
25            26  Mercedes-Benz A Class  15900           62402
...          ...                    ...    ...             ...
3596        4628              SEAT Leon   5495          128000
3600        4635              SEAT Leon   5495          128000
3625        4664     Vauxhall Astra GTC   7495           50312
3638        4678         Nissan Qashqai   7995           67000
3681        4724                Audi A4   6990          119000

      Registration_Year  Previous Owners              Fuel type  Body type  \
0                  2016              3.0                 Diesel  Hatchback
12                 2016              3.0                 Diesel  Hatchback
13                 2019              1.0  Petrol Plug-in Hybrid     Saloon
21                 2019              NaN                 Petrol  Hatchback
25                 2019              1.0                 Petrol  Hatchback
...                 ...              ...                    ...        ...
3596               2013              1.0                 Diesel  Hatchback
3600               2013              1.0                 Diesel  Hatchback
3625               2015              3.0                 Petrol      Coupe
3638               2015              3.0                 Petrol        SUV
3681               2012              NaN                 Petrol     Saloon

     Engine    Gearbox  Doors  Seats Emission Class Service history
0      1.4L     Manual    5.0    5.0         Euro 6             NaN
12     1.4L     Manual    5.0    5.0         Euro 6             NaN
13     2.0L  Automatic    4.0    5.0         Euro 6             NaN
21     1.3L     Manual    5.0    5.0         Euro 6             NaN
25     1.3L  Automatic    5.0    5.0         Euro 6             NaN
...     ...        ...    ...    ...            ...             ...
3596   2.0L     Manual    5.0    5.0         Euro 5             NaN
3600   2.0L     Manual    5.0    5.0         Euro 5             NaN
3625   1.4L     Manual    3.0    5.0         Euro 6             NaN
3638   1.2L     Manual    5.0    5.0         Euro 5             NaN
3681   2.0L     Manual    4.0    5.0         Euro 5             NaN

[999 rows x 14 columns]

In [ ]:
diesel_hatchback=df[(df['Fuel type']=='Diesel') & (df['Body type']=='Hatchback')]
print(diesel_hatchback)

      Unnamed: 0           title  Price  Mileage(miles)  Registration_Year  \
0              0     SKODA Fabia   6900           70189               2016
4              4  Vauxhall Corsa   1000           85000               2013
9              9     Peugeot 207   1299           87000               2008
10            10     Ford Fiesta   1495          181693               2009
12            12     SKODA Fabia   6900           70189               2016
...          ...             ...    ...             ...                ...
3654        4695  Vauxhall Corsa   1995          126000               2013
3656        4697    Toyota Auris   1295          158469               2008
3669        4711  Renault Megane   2489          129000               2013
3670        4712       Fiat Idea   1295           84000               2007
3678        4721      Citroen C3   1795           85962               2009

      Previous Owners Fuel type  Body type Engine Gearbox  Doors  Seats  \
0                 3.0    Diesel  Hatchback   1.4L  Manual    5.0    5.0
4                 NaN    Diesel  Hatchback   1.3L  Manual    5.0    5.0
9                 5.0    Diesel  Hatchback   1.6L  Manual    5.0    5.0
10                NaN    Diesel  Hatchback   1.6L  Manual    3.0    5.0
12                3.0    Diesel  Hatchback   1.4L  Manual    5.0    5.0
...               ...       ...        ...    ...     ...    ...    ...
3654              2.0    Diesel  Hatchback   1.3L  Manual    5.0    5.0
3656              4.0    Diesel  Hatchback   2.0L  Manual    5.0    5.0
3669              4.0    Diesel  Hatchback   1.5L  Manual    5.0    5.0
3670              NaN    Diesel  Hatchback   1.3L  Manual    5.0    5.0
3678              NaN    Diesel  Hatchback   1.4L  Manual    5.0    5.0

     Emission Class Service history
0            Euro 6             NaN
4            Euro 5             NaN
9            Euro 4             NaN
10           Euro 4            Full
12           Euro 6             NaN
...             ...             ...
3654         Euro 5             NaN
3656         Euro 4             NaN
3669         Euro 5             NaN
3670         Euro 4             NaN
3678         Euro 4             NaN

[472 rows x 14 columns]

In [ ]:
automatic_hatchback=df[(df['Gearbox']=='Automatic') | (df['Body type']=='Hatchback')]
print(automatic_hatchback)

      Unnamed: 0           title  Price  Mileage(miles)  Registration_Year  \
0              0     SKODA Fabia   6900           70189               2016
1              1  Vauxhall Corsa   1495           88585               2008
2              2     Hyundai i30    949          137000               2011
3              3      MINI Hatch   2395           96731               2010
4              4  Vauxhall Corsa   1000           85000               2013
...          ...             ...    ...             ...                ...
3677        4720   Honda Prelude   2475          156097               1998
3678        4721      Citroen C3   1795           85962               2009
3679        4722  Nissan Qashqai   1695          104000               2009
3680        4723  Renault Megane   1395           76202               2006
3684        4727  Vauxhall Corsa   2000           82160               2013

      Previous Owners Fuel type  Body type Engine    Gearbox  Doors  Seats  \
0                 3.0    Diesel  Hatchback   1.4L     Manual    5.0    5.0
1                 4.0    Petrol  Hatchback   1.2L     Manual    3.0    5.0
2                 NaN    Petrol  Hatchback   1.4L     Manual    5.0    5.0
3                 5.0    Petrol  Hatchback   1.4L     Manual    3.0    4.0
4                 NaN    Diesel  Hatchback   1.3L     Manual    5.0    5.0
...               ...       ...        ...    ...        ...    ...    ...
3677              2.0    Petrol      Coupe   2.2L  Automatic    2.0    4.0
3678              NaN    Diesel  Hatchback   1.4L     Manual    5.0    5.0
3679              3.0    Petrol  Hatchback   1.6L     Manual    5.0    5.0
3680              4.0    Petrol  Hatchback   1.6L     Manual    5.0    5.0
3684              7.0    Petrol  Hatchback   1.2L     Manual    5.0    5.0

     Emission Class Service history
0            Euro 6             NaN
1            Euro 4            Full
2            Euro 5             NaN
3            Euro 4            Full
4            Euro 5             NaN
...             ...             ...
3677         Euro 2            Full
3678         Euro 4             NaN
3679         Euro 4             NaN
3680         Euro 4             NaN
3684         Euro 5             NaN

[2828 rows x 14 columns]

In [24]:
count=(df['Registration_Year']>=2015).value_counts()
count

False    2555
True     1130
Name: Registration_Year, dtype: int64